{% extends './layout.html' %}
{% block styles %}
  <link rel="stylesheet" href="/styles/add.css">
{% endblock %}
{% block title %} 添加图书📚 {% endblock %}
{% block content%}
  <div id="app">
    <p>{{message}}</p>
    <input type="text" name="" id="" v-model="message">
  </div>
{% endblock %}
{% block scripts %}
  <script type="nomodule">
    console.log("我支持模块化🏀");
    import('/scripts/add.js').then((_) => {
      const cteate = new _.deafult;
      cteate.fn();
    })
  </script>
  <script type="module" src="https://cdn.staticfile.org/systemjs/3.1.2/system.js"></script>
  <script type="module">
     System.import('/scripts/add-bundle.js').then((_) => {
      const cteate = new _.default;
      cteate.fn();
    })
  </script>
{% endblock  %}